<div class="container">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name, placeholder: "Hungry Ghost" %>
    <%= f.input :address, placeholder: "479 Hong Kong" %>
    <%= f.input :phone_number, placeholder: "697-104-5501" %>
    <%= f.input :category, collection: Restaurant::CATEGORIES %>
    <%= f.submit value="Add Restaurant"%>
  <% end %>
</div>
